{% extends 'partials/base.html'%}
{% block title%}Maintenance Request{% endblock%}
{% load crispy_forms_tags %}

{% block content %}

<div class="container col-md-10 " style="padding: 0px; padding-right: 25px; overflow: scroll;" >
    <div class="col-md-6 offset-md-3">
        <div class="border bg-white p-3">
            <h3> Maintenance Device</h3>
            <hr>
            <form method="POST">
                {% csrf_token %}
                {{ lp_form|crispy }}
                <input class="btn btn-success" type="submit" value="Add">
                <a class="btn btn-secondary" href="{% url 'dashboard-laptop' %}">Cancel</a>
            </form>
        </div>
    </div> 
    

</div>

{% endblock %}