{% extends 'partials/base.html'%}
{% block title%}Connect laptop RAM Memory{% endblock%}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border bg-white p-3">
                {% if not_connected_mt %}
                Choose Memory to Connect to {{dsk.Computer_Name}}
                <ul>
                    {% for device in not_connected_mt %}
                    <li>
                        <a href="{% url 'dashboard-save-connect-ltram' pk=dsk.id pk1=device.id %}">
                        {{ device.LT_RAM_SN }} - {{device.LT_RAM_Size}} GB
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>No RAM Memory available currently</p>
                {% endif %}
                
                <a class="btn btn-secondary" href="{% url 'dashboard-laptop-detail' pk=dsk.id %}">Go Back</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
  