{% extends 'partials/base.html'%}
{% block title%}Home Page{% endblock%}

{% block content %}
{% include 'partials/topnav.html' %}
<div class="container col-md-10 pull-right" style="padding: 0px; padding-right: 15px;">
    <div class="row my-5 offset-md-1">
        <div class="col-md-12"  >
            <table class="table bg-gray">
                <thead class="bg-info text-white">
                    <tr>
                        <th scope="col">Device</th>
                        <th scope="col">All</th>
                        <th scope="col">Active</th>
                        <th scope="col">On Repairs</th>
                        <th scope="col">Damaged</th>
                        <th scope="col">Obsolete</th>
                        <th scope="col">UnAssigned</th>
                        <th scope="col">On Maintenance</th>
                    </tr>
                </thead>
                <tbody style="text-align: center;">
                    <tr>
                        <td>Desktops</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Laptops</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Phones </td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Printers</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Networking</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Accessories</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}